/* Pou la vue */
body{
  background-color:  #c0c1f6 ;
}
header{
  text-align: center;
  border: 10px solid;
  background-color: #6468e1;
  color:#c0c1f6;
  margin-left: 9%;
  margin-right: 9%;
  padding-bottom: 1%;
  padding-top: 1%;
}
.content h1 {
  color:#6468e1;
}

.content{
  border-radius: 15px;
  background-color:#a3a5e7 ;
  margin-left: 15%;
  margin-right: 15%;
  padding-right:30px;
  padding-left:30px;
  padding-bottom:30px;
  padding-top:1px;
}

#nav li {
  display: inline;
  list-style: none;
  font-size: 50px;
}

#nav a {
  display:inline-block;
  margin-left: 1%;
  padding-left: 1%;
  color:#c0c1f6;
  text-decoration:none;
  border-left: 3px solid;
}

#nav li a:hover {
  background-color:#D3D3D3;
}

.formreserv{
  margin-left: 40%;
}

.partieItem{
  display: grid;
  grid-template-columns:30% auto auto;
  grid-template-rows: auto, auto ,auto;

  background-color:#c0c1f6;
  border-radius: 15px;
  padding-top: 2%;
  padding-bottom: 2%;

}
.partieItem h3{
  margin-left: 3%
}

.untem{
  margin-top: 2%;
  width: 30%;
  margin-left: 2%;
}


.partieItem a{
  color:#865EEB;
  border-radius: 15px;
  padding: 10px;
  margin-right: 90%;
  text-align: center;
  text-decoration:none;
  background-color: #c0c1f6;
  font-size: 30px;
}
.partieItem a:hover{
  background-color:#D3D3D3;
}

.partieListe h2{
  border-top: 2px dotted;
  margin-left: 20%;
  margin-right: 20%;
  padding-top:2%;
}

.itemEimage{
  display: grid;
  grid-template-columns:30% auto auto;
  margin-left: 10%;
  grid-gap: 30%;
}
#item{
  font-size: 19px;
  width: 600px;
}

#item span {
  font-size: 22px;
  font-family:sans-serif;
  font-style: italic;
  font-weight: bold;
}
#reserv{
  color:#865EEB;
  border-radius: 15px;
  padding: 10px;
  text-decoration:none;
  background-color: #c0c1f6;
  font-size: 25px;
  margin-right: 80%;
}

#reserv:hover{
  background-color:#D3D3D3;
}
