body{
  background-color:  #c0c1f6 ;
}
header{
  text-align: center;
  border: 10px solid;
  background-color: #6468e1;
  color:#c0c1f6;
  font-size: 35px;
  margin-left: 9%;
  margin-right: 9%;
}
.content{
    border-radius: 15px;
    background-color:#a3a5e7 ;
    margin-left: 15%;
    margin-right: 15%;
    padding-right:30px;
    padding-left:30px;
    padding-bottom:30px;
    padding-top:1px;
}
.content h1{
  color:#6468e1;
  font-size: 35px;
}

a {
  color:#865EEB;
  border-radius: 15px;
  padding: 10px;
  text-decoration:none;
  background-color: #c0c1f6;
  font-size: 25px;

}

a:hover {
  background-color:#D3D3D3;
}
